<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Log In</title>
</head>
<body class="flex">
    <main>

        <div id="login-form">

            <h1>Sign Up</h1>
            
            <form method="POST">

                <div class="input-div">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="input-div">
                    <input type="text" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-div">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="input-div">
                    <input type="text" id="dob" name="dob" placeholder="DOB : YYYY-MM-DD" required>
                </div>
                <div class="input-div">
                    <input type="text" id="gender" name="gender" placeholder="Gender" required>
                </div>
        
                <div id="login"> 
                    <input type="submit" value="Sign Up">
                </div>
        
            </form>

        </div>  
    </main>

    <!-- footer -->
    <footer class="flex"><div>&copy;Syntax Error</div></footer>
</body>
</html>