{% extends "boilerplate.html" %}
{% block main %}
<div id="contact">
    <div>
        <h1 style="font-size: 2.5em;text-align: center;">Contact</h1>
        <p style="font-size: 1em;">You can contact us by filling the form below, Thank You!</p>
    </div>
    <form id="contact-form" method="post">
        <input type="email" id="email" name="email" placeholder="your email" required>
        <textarea id="message" name="message" placeholder="enter message here..." required></textarea>
        <input id="submitHelp" type="submit" value="Submit">
    </form>
</div>
{% endblock %}